/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #00ff73;
}


#himg {
	
}

.menus {
    background-color: #0388fc;
    grid-area: menus;
    display: block;
    list-style-type: none;
    text-decoration: none;
    flex-direction: column;
    justify-content: start;
  }

  .box1 {
    color: #fff;
}